<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Edit status</h4>
    </div>
    <%= form_for @status, remote: true, html: {role: :form, 'data-model' => 'status'} do |f| %>
    <% if @status.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@status.errors.count, "error") %> prohibited this status from being saved:</h2>

        <ul>
        <% @status.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
      <%= render 'form', f: f %>
    <% end %>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
