<div class="page-header">
  <h1>Users</h1>
</div>
<div class="row">
  <table class="table" id="users" data-source="<%= users_path(format: :json) %>">
    <thead>
      <th>Id</th>
      <th>Email</th>
      <th>Admin</th>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
