<table id="concerts" data-source="<%= concerts_path(format: :json) %>">
  <thead>
    <tr>
      <th>Id</th>
      <th>Venue name</th>
      <th>On date</th>
      <th>Photo1</th>
      <th>Photo2</th>
      <th>Text1</th>
      <th>Text2</th>
      <th>Interview</th>
      <th>Bands</th>
      <th>Status</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
