<script>
$(document).ready(function(){
  var table = $('table#bands').DataTable({
        "ajax": $('table#bands').data('source'),
        "displayLength": 25
      });
})
</script>
<div class="page-header">
  <h1>Bands</h1>
</div>
<div class="row col-lg-10 col-lg-offset-1">
  <table class="table table-striped" id="bands" data-source="<%= bands_path(format: :json) %>">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Country</th>
        <th>Edit</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div class="col-lg-10 col-lg-offset-1" style="margin-top:15px;">
  <%= link_to "New band", new_band_path, remote: true, class: "btn btn-md btn-primary pull-right" %>
</div>

<div class="modal fade" id="band-modal">
</div><!-- /.mod
